:host {
  display: flex;
  flex-direction: column;
  border: darkgray;
  border-style: dashed;
  padding: 3em;
}

.weapon {
  display: flex;
  font-size: 5vh;
  justify-content: center;
  background: linear-gradient(to bottom, #ff9800 0%, #ff9800 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 5px 2px;
  color: #000;
  text-decoration: none;
  transition: background-size 0.2s;
  padding: 10%;
}

.weapon:hover {
  background-size: 5px 6vh;
  cursor: pointer;
}

.weapon--is-highlited {
  background-size: 4px 50px;
}
