.app__container {
  min-height:100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.app__title {
	font-family: Cambria, "Times New Roman", Times, serif;
	font-weight: 400;
	font-size: 50px;
	letter-spacing: -0.05em;
	color: rgb(8, 8, 8);
}
