:host {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 5%;
}

.game {
	display: flex;
	gap: 3em;
	justify-content: center;
	align-items: center;
}

	.game__central-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

		.game__central-container__round {
			display: flex;
			font-size: 2vh;
		}

		.game__central-container__vs {
			display: flex;
			font-weight: 200;
			margin-top: -2vh;
			font-size: 3vh;
		}

		.game__central-container__winner {
			display: flex;
			text-align: center;
			font-weight: 400;
			font-size: 2vh;
		}

		.game__central-container__random-button {
			display: flex;
			align-self: center;
			font-family: signo, sans-serif;
			font-weight: 500;
			font-size: 2vh;
			cursor: pointer;
			background: #e7e7e7;
			border: none;
			padding: 10% 25%;
			transition: background 0.2s;
		}

			.game__central-container__random-button:hover {
				background: #ff9800;
			}
