<div class="game">
  <app-game-card
    [selectedWeapon]="player.weapon"
    (selectedWeaponChange)="onSelected($event)"
    ></app-game-card>
  <div class="game__central-container">
    <p class="game__central-container__round">{{ game.round }}/3</p>
    <h1 class="game__central-container__vs">VS</h1>
    <p class="game__central-container__winner" *ngIf="!game.roundWinner"> Have fun! </p>
    <p class="game__central-container__winner">{{ game.roundWinner }}</p>
    <button class="game__central-container__random-button" (click)="randomPlay()"><span> Random Move </span></button>
  </div>
  <app-game-card [selectedWeapon]="bot.weapon"></app-game-card>
</div>
